* {
  margin: 0;
  padding: 0;
}

:root {
  --background: #eee;
  --white: #eee;
  --hint: #778899;
  --green: #43A047;
  --black: #333333;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  background: var(--background);
  color: var(--black)
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  margin: 40px 0;
  width: 80%;
  max-width: 1000px;
  background-color: #fff;
  padding: 20px 40px;
}

h2 {
  font-size: 20px;
  margin-bottom: 12px;
}

section {
  margin-top: 10px;
}

ul {
  margin-top: 8px;
  padding-left: 20px;
}